/framework/nbproject/private/
/framework/build/
/framework/Framework/build/
/framework/Framework/nbproject/private/
/framework/Framework/Framework/build/
/framework/Framework/Framework/nbproject/private/
